{% extends 'base.html' %}

{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    
  </head>
  <body>
   <div class="container">


    
    <div class="row">
     {% for img in result %}
      <div class="col-sm-4">
       <div class="card m-2">
        <img src="{{img.image.url}}" id="img" alt="" class="card-img-top" height="200px">
        <div class="card-footer">
        <center> <small  class="text-muted">Mehendi Occasion :- {{img.rangoli_style}}</small><br>
            <small  class="text-muted">Mehendi Description :- {{img.rangoli_desc}}</small><br>
            <small  class="text-muted">Uploaded On :- {{img.rangoli_date}}</small><center>
        </div>
       </div>
      </div>
     {% endfor %}
    </div>
   </div>
  
  

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready( function() {
        $("img").click( function() {
            this.requestFullscreen();
        });
    });
</script>


{% endblock body %}

